# Python
__pycache__/
*.pyc

# PyTorch models
*.pth

# Data
# If you don't want to commit historical_data.csv, uncomment the line below
*.csv

# Environment data
.env
.venv

# Logs
*.log

# Jupyter/Colab specific
.ipynb_checkpoints/
